body {
  background-color: rgb(204, 202, 202);
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.7em; 
  margin:0;
}
.container {
    width:80%;
    margin: auto;
}
.box1 {
    background-color: cornflowerblue;
    border-right: 10px rebeccapurple solid;
    padding:20px;

}
.box2 {
    background-color: rgb(0, 0, 0);
    color: rgb(243, 239, 239);
    padding:22px;
    margin:20px 0;

}
.box2  h1 {
    font-style: italic;
    letter-spacing:  0.4em ;
    text-transform: lowercase;
    font-weight: 200;
}
.box3{
    border: 2px dotted orange;
}
.box3 ul {
    list-style: none;
}
.box4 .contact {
    padding: 30px;;
}
.box4 .contact .userfeed {
    padding-bottom: 12px;
}
.box4 .contact label {
    display: block ;
}
.box4 .contact .userfeed input[type="text"] , .box4 .contact .userfeed input[type="email"] {
    padding: 10px;
}
.box4 .contact .userfeed input[type="massage"] {
    padding: 50px;
}
.box5 {
    float:left;
    width: 33.3% ;
    border: 2px black solid;
    box-sizing:border-box;
}
.box5 h3 , p{
    padding: 12px;
}
.additional {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
.social {
    background-color: cadetblue;
    float: right;
    width: 30%;
    padding-left: 15px;
    box-sizing: border-box;
}

